<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <title>Catalogo Libri - MyReadings</title>
</head>
<body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <img src="images/logo.png" class="navbar-icon" width="48" height="48" alt="MyReadings"> MyReadings
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/books">Biblioteca</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/mybooks">Libri</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/reviews">Recensioni</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/notifications">Notifiche</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contacts">Contatti</a>
                </li>
            </ul>
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Cerca libri, autori e generi" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Cerca</button>
            </form>
        </div>
    </nav>
    
    <!-- CATALOGO LIBRI -->
    <div class="container my-5">
        <h1 class="text-center">Catalogo Libri</h1>
        <div class="row">
            <% if (books.length > 0) { %>
                <% books.forEach(book => { %>
                    <div class="col-md-3">
                        <div class="book-card" data-toggle="modal" data-target="#bookModal-<%= book.id %>">
                            <img src="<%= book.cover || 'images/book-placeholder.jpg' %>" alt="<%= book.title %>" class="book-cover">
                            <div class="book-info">
                                <h5><%= book.title %></h5>
                                <p>Autore: <%= book.author %></p>
                            </div>
                        </div>
                    </div>

                    <!-- MODAL PER DETTAGLI LIBRO -->
                    <div class="modal fade" id="bookModal-<%= book.id %>" tabindex="-1" role="dialog" aria-labelledby="bookModalLabel-<%= book.id %>" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="bookModalLabel-<%= book.id %>"><%= book.title %></h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body modal-content-centered">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <img src="<%= book.cover || 'images/book-placeholder.jpg' %>" alt="<%= book.title %>" class="img-fluid">
                                        </div>
                                        <div class="col-md-8">
                                            <p><strong>Autore:</strong> <%= book.author %></p>
                                            <p><strong>Numero di pagine:</strong> <%= book.pages || 'N/D' %></p>
                                            <p><strong>Data di pubblicazione:</strong> <%= book.year || 'N/D' %></p>
                                            <p><strong>Genere:</strong> <%= book.genre || 'N/D' %></p>
                                            <p><strong>Casa editrice:</strong> <%= book.publisher || 'N/D' %></p>
                                            <p>
                                                <strong>Valutazione:</strong>
                                                <% for (let i = 0; i < Math.floor(book.rating); i++) { %>
                                                    <span class="fa fa-star"></span>
                                                <% } %>
                                                <% if (book.rating % 1 !== 0) { %>
                                                    <span class="fa fa-star-half"></span>
                                                <% } %>
                                            </p>
                                            <h5>Incipit</h5>
                                            <p><%= book.description || 'Nessuna descrizione disponibile.' %></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }) %>
            <% } else { %>
                <p class="text-center">Nessun libro disponibile nel catalogo.</p>
            <% } %>
        </div>
    </div>

    <!-- FOOTER -->
    <footer class="footer bg-light text-center text-lg-start">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2025 MyReadings - Tutti i diritti riservati.
        </div>
    </footer>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>